<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="24x7Shift" value="24x7" />
    <add key="xmattersUserName" value="CNUser" />
    <add key="xmattersPassword" value="CNPw" />
    <add key="xmattersBaseUrl" value="http://testurl/" />
		<add key="CustomerNotificationsApiUsername" value="CNUser" />
		<add key="CustomerNotificationsApiPassword" value="CNPw" />
		<add key="CustomerNotificationApiBaseUrl" value="http://testurl/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
