<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISalesforceNotificationService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IXMattersIntegrationService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ISalesforceService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IDocumentLibrary">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ISalesforceUserService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ISalesforceContractService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ISalesforceGoLiveService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IBrandingService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://lab-salesforceservice.blfdev.lab:7808/services/SalesforceService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalesforceService" contract="inContactSalesforceService.ISalesforceService" name="NetTcpBinding_ISalesforceService" />
      <endpoint address="net.tcp://lab-salesforceservice.blfdev.lab:7808/services/SalesforceService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDocumentLibrary" contract="inContactSalesforceService.IDocumentLibrary" name="NetTcpBinding_IDocumentLibrary" />
      <endpoint address="net.tcp://lab-salesforceservice.blfdev.lab:7808/services/SalesforceService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalesforceUserService" contract="inContactSalesforceService.ISalesforceUserService" name="NetTcpBinding_ISalesforceUserService" />
      <endpoint address="net.tcp://lab-salesforceservice.blfdev.lab:7808/services/SalesforceService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalesforceNotificationService" contract="inContactSalesforceService.ISalesforceNotificationService" name="NetTcpBinding_ISalesforceNotificationService" />
      <endpoint address="net.tcp://lab-salesforceservice.blfdev.lab:7808/services/SalesforceService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IXMattersIntegrationService" contract="inContactSalesforceService.IXMattersIntegrationService" name="NetTcpBinding_IXMattersIntegrationService" />
      <endpoint address="net.tcp://lab-salesforceservice.blfdev.lab:7808/services/SalesforceService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalesforceContractService" contract="inContactSalesforceService.ISalesforceContractService" name="NetTcpBinding_ISalesforceContractService" />
      <endpoint address="net.tcp://lab-salesforceservice.blfdev.lab:7808/services/SalesforceService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalesforceGoLiveService" contract="inContactSalesforceService.ISalesforceGoLiveService" name="NetTcpBinding_ISalesforceGoLiveService" />
      <endpoint address="net.tcp://lab-salesforceservice.blfdev.lab:7808/services/SalesforceService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBrandingService" contract="inContactSalesforceService.IBrandingService" name="NetTcpBinding_IBrandingService" />
    </client>
  </system.serviceModel>
</configuration>
