<div id="disableProfileWarningModal" class="modal fade" role="dialog" style="overflow-y: hidden;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-header-color1">
                <button type="button" class="close pb-close-button pb-control-opacity" id="close-dfw-modal" click="disableProfileCancelClick()">&times;</button>
                <h4 class="modal-title">Disable Notification Profile</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class='col-md-12 col-xs-12'>Disabling your notification profile means you will no longer receive notifications to the groups you are subscribed to. If you wish to re-enable at a later time, simply click the "Enable" button and your previous devices and subscriptions will be restored.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="dnf-button" type="button" class="incontact-blue-action-button pb-clickable-textcolor pb-unclickable-textcolor pb-clickable-fillcolor pb-unclickable-fillcolor pb-clickable-mouseover-textColor pb-clickable-mouseover-fillColor" click="disableNotificationProfile()">Disable Notification Profile</button>
                <button id="cancel-dfw-button" type="button" class="incontact-blue-action-button pb-clickable-textcolor pb-unclickable-textcolor pb-clickable-fillcolor pb-unclickable-fillcolor pb-clickable-mouseover-textColor pb-clickable-mouseover-fillColor" click="disableProfileCancelClick()">Cancel</button>
            </div>
        </div>
    </div>
</div>
