
@{
    ViewBag.Title = "SessionTimeOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<div id="body">
    <div class="sessiontimeout">Session Timeout</div>
    <div class="sessioninactivity">Due to inactivity your session has timed out. If you wish to continue, you must log in again.</div>
    <div class="clickhere">
        @Html.ActionLink("Click here", "Index", "Home") <span>to log in again.</span>
    </div>
</div>

